/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --page-title-color: #DB00FF;
  --page-title-shadow-color: #FF0070;
  --section-title-color: #FF0070;
  --card-title-color: #000028;
  --card-title-bg-color: #FF0070;
  --card-text-color: #F1B2CE;

  --button-color: #FF0070;

  --rec-icon-display: flex;

  --background-image: url('../images/cover-image-dark.png');
}