/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

a {
  text-decoration: none;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 60px;
  height: 100vh;
  min-height: var(--header-min-height);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  bottom: var(--side-margin);
  left: 0;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

.decorated-zone::after {
  top: var(--side-margin);
  right: 0;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.rec__icon {
  position: absolute;
  top: 12px;
  right: 10px;
  display: var(--rec-icon-display); 
  align-items: center;
  gap: 9px;
  color: var(--button-color);
  text-transform: uppercase;
}

.rec__icon::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--button-color);
  box-shadow: 0px 0px 4px 2px var(--button-color);
}

.header__title,
.footer__title {
  color: var(--page-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: var(--page-title-shadow-color) 4px 4px;
}

.header__text {
  align-self: center;
  margin-bottom: 65px;
}

.header__text,
.section__title,
.card__title,
.gallery__title {
  font-weight: 700;
  font-size: 1em;
}

.header__theme-menu {
  padding-block-start: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 9px;
}

.header__theme-menu-button {
  border: none;
  color: var(--button-color);
  text-transform: lowercase;
  background-color: var(--bg-color);
  inline-size: 70px;
  block-size: 26px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, currentColor 50%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.section__title {
  color: var(--section-title-color);
}

.header__text,
.card__title,
.gallery__title {
  color: var(--card-title-color);
  background-color: var(--card-title-bg-color);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-block-end: 50px;
}

.cards__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section:first-child {
  margin-block-start: 40px;
}

.card__title {
  margin-block-end: 10px;
}

.card__empty .card__title {
  margin-block-end: 0;
}

.card__subtitle {
  font-weight: lighter;
}

.card__text:not(:last-child) {
  padding-block-end: 10px;
}

a.text-decor {
  text-shadow: var(--page-title-shadow-color) 2px 2px;
}

a.text-decor:hover {
  border-bottom: currentColor 1px solid;
}

a.text-decor:focus {
  outline: none;
}

a.text-decor:focus-visible {
  outline: currentColor 1px solid;
}

.gallery {
  margin-block-end: 40px;
}

.gallery__title {
  margin-block-end: -10px;
}

.gallery__list {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

.gallery__item-image {
  width: 100%;

  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: var(--header-min-height);
}

.footer__title {
  margin: auto;
}

.page {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

@media (width >= 768px) {

  .rec__icon {
    top: var(--side-margin);
  }

  .header {
    gap: 70px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    align-self: center;
    margin-inline-start: calc(var(--side-margin) * -1);
  }

  .header__text {
    justify-self: end;
    max-width: 50%;
    margin-bottom: 185px;
  }

  .header__theme-menu {
    padding-block-start: 190px;
  }

  .header__theme-menu-list {
    gap: 10px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    margin-block-end: 80px;
  }

  .section:first-child {
    margin-block-start: 60px;
  }

  .section-wide .cards__list {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery__title {
    margin-block-end: 0;
  } 

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__list img {
    height: 100%;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .gallery {
    margin-block-end: 60px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    padding-block-start: 0;
    align-self: self-start;
    margin-block-start: var(--side-margin);
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__text {
    align-self: self-start;
    margin: 5px 0 30px;
  }

  .section-narrow {
    gap: 10px;
  }

  .section-wide .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

